.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  background-color: blue;
  color: beige;
}

.note {
  text-align: left;
}

h2 {
  text-align: center;
}

.note {
  margin-left: 20%;
}